@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Visit <a href="https://docs.microsoft.com/aspnet/core">Git-hub</a>.</p>
</div>*@