@{
    ViewData["Title"] = "Portpolio";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<div class="row">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Portfolio</h2>
            <h5 class="description">Treated</h5>
        </div>
    </div>
    <div class="col-md-6 ml-auto mr-auto">
        <div class="profile-tabs">
            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                        <i class="material-icons">camera</i> Studio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                        <i class="material-icons">palette</i> Work
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                        <i class="material-icons">favorite</i> Favorite
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content tab-space">
    @*<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/assets/img/examples/작업물.png" class="rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/assets/img/examples/이미지 20210427001.png" class="rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/assets/img/examples/작업실.jpg" class="rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/assets/img/examples/DB연동확인2.png" class="rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>*@
    @* 아래가 원래 꺼 위에가 부트스트랩에 있는 거 *@
    <div class="tab-pane active text-center gallery" id="studio">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/assets/img/examples/작업물.png" class="rounded">
                <img src="~/assets/img/examples/이미지 20210427001.png" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/assets/img/examples/작업실.jpg" class="rounded">
                <img src="~/assets/img/examples/DB연동확인2.png" class="rounded">
            </div>
        </div>
    </div>
    <div class="tab-pane text-center gallery" id="works">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/assets/img/examples/워드1급.png" class="rounded">
                <img src="~/assets/img/examples/전산회계1급.png" class="rounded">

            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/assets/img/examples/토익점수.png" class="rounded">
                <img src="~/assets/img/examples/정보처리기능사.png" class="rounded">
            </div>
        </div>
    </div>
    <div class="tab-pane text-center gallery" id="favorite">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/assets/img/examples/Otto-belly.jpg" class="rounded">
                <img src="~/assets/img/examples/Bangtan.jpg" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/assets/img/examples/Coffee.jpg" class="rounded">
                <img src="~/assets/img/examples/Car.png" class="rounded">
                <img src="~/assets/img/examples/LeagueofLegend.jpg" class="rounded">
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
