@{
    ViewData["Title"] = "Portpolio";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<div class="row">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Portfolio</h2>
            <h5 class="description">Treated</h5>
        </div>
    </div>
    <div class="col-md-6 ml-auto mr-auto">
        <div class="profile-tabs">
            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                        <i class="material-icons">camera</i> Studio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                        <i class="material-icons">palette</i> Work
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                        <i class="material-icons">favorite</i> Favorite
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content tab-space">
    <div class="tab-pane active text-center gallery" id="studio">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/assets/img/examples/작업물.png" class="rounded">
                <img src="~/assets/img/examples/이미지 20210427001.png" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/assets/img/examples/작업실.jpg" class="rounded">
                <img src="~/assets/img/examples/DB연동확인2.png" class="rounded">
            </div>
        </div>
    </div>
    <div class="tab-pane text-center gallery" id="works">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/assets/img/examples/워드1급.png" class="rounded">
                <img src="~/assets/img/examples/전산회계1급.png" class="rounded">
              
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/assets/img/examples/토익점수.png" class="rounded">
                <img src="~/assets/img/examples/정보처리기능사.png" class="rounded">
            </div>
        </div>
    </div>
    <div class="tab-pane text-center gallery" id="favorite">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/assets/img/examples/Otto-belly.jpg" class="rounded">
                <img src="~/assets/img/examples/Bangtan.jpg" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/assets/img/examples/Coffee.jpg" class="rounded">
                <img src="~/assets/img/examples/Car.png" class="rounded">
                <img src="~/assets/img/examples/LeagueofLegend.jpg" class="rounded">
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
