@model MyPortpolioWeb.Models.Manages
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*@Html.Raw(Model.Contents)*@
<div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="profile">
                    <div class="avatar">
                        <img src="~/assets/img/faces/PSC Profile.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                    </div>
                    <div class="name">
                        <h3 class="title">Seng Chul Park</h3>
                        <h6>C# Programmer</h6>
                    </div>
                </div>
            </div>
        </div>
<div class="description text-center" style="text-decoration-color:antiquewhite">
    <a href="https://www.instagram.com/orchestra365/" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
</div>