@model MyPortpolioWeb.Models.Manages
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*@Html.Raw(Model.Contents)*@
<div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="profile">
                    <div class="avatar">
                        <img src="~/assets/img/faces/PSC Profile.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                    </div>
                    <div class="name">
                        <h3 class="title">Seng Chul Park</h3>
                        <h6>C# Programmer</h6>
                        @*<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>*@
                    </div>
                </div>
            </div>
        </div>
    <div class="description text-center" style="text-decoration-color:brown">
            <p>I graduated from Pukyong University.</p><br />
            <p>You know you're not good enough, but I won't set limits. </p><br />
            <p>I will contribute to your company's profit by becoming a programmer who continues to develop. </p><br />
    </div>