<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

@Html.Partial("HeadPage.cshtml")

<body class="landing-page sidebar-collapse">
    @Html.Partial("NavPage.cshtml")
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/profile_city.jpg')">
        @* ASP 닷넷에서 쓰는 루트 경로를 쓸 수가 없는 것이다. ASP 닷넷이 경로 섹터는 주로 DB와 연동된 부분이다. *@
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Your Story Starts With Me.</h1>
                    <h4>I wanna contribute to profit of your company. and I wanna develop myself as a one of the Programmer. Please Contact me freely. I wating Your call!!! If you have enough time, Please Go my Youtube!!!</h4>
                    <br>
                    <a href="https://youtu.be/IEWrMcDSoDk" target="_blank" class="btn btn-danger btn-raised btn-lg">
                        <i class="fa fa-play"></i> Watch video
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <div class="row">
                    <div class="col mr--auto">
                        @RenderBody()
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Let&apos;s talk Me</h2>
                        <h5 class="description">If you have any question about me, Please press the CONTACT button above my Web Site. I&apos;ll response you as soon as possible. As a C# Programmer, I have the strength about making solution for your company. and There are a lot of Skills I can do in your company. I recommend You don&apos;t miss this good chance.</h5>
                    </div>
                </div>
                <div class="features">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-info">
                                    <i class="material-icons">chat</i>
                                </div>
                                <h4 class="info-title">Commnunication Skills</h4>
                                <p>I can speak English Discussion. so I can work for your company where need English. And I can suggest you to solve the Problem where need Logical Process. Because I trained sufficiently.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="material-icons">verified_user</i>
                                </div>
                                <h4 class="info-title">verified_Programmer</h4>
                                <p>Although I have been majored Finance and Accounting, I trained so much time Programming. And I can Communicate more Professional where need Financial Requirements. </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="material-icons">fingerprint</i>
                                </div>
                                <h4 class="info-title">Fingerprint</h4>
                                <p>I promise that I can give your company a variety of tactical approach in your Industry Area. So you can get much Profit and Increasement of Sales</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section text-center">
                <h2 class="title">What I Work for</h2>
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <img src="~/assets/img/faces/ERP.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                    </div>
                                    <h4 class="card-title">
                                        Stock Management System
                                        <br>
                                        <small class="card-description text-muted">ERP</small>
                                    </h4>
                                    <div class="card-body">
                                        <p class="card-description">
                                            You can write here details about Me. You can give more details about what I do. Feel free to add some
                                            <a href="https://github.com/ochestra365/MiniProject_Desktop/tree/main/WpfSMSApp">Git</a> for people to be able to watch my works.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <img src="~/assets/img/faces/DesktopApp.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                    </div>
                                    <h4 class="card-title">
                                      Treating Application of Desktop
                                        <br/>
                                        <small class="card-description text-muted">Study</small>
                                    </h4>
                                    <div class="card-body">
                                        <p class="card-description">
                                            You can write here details about Me. You can give more details about what I do. Feel free to add some
                                            <a href="https://github.com/ochestra365/StudyDesktopApp">Git</a> for people to be able to watch my works.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <img src="~/assets/img/faces/PSC Profile.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                    </div>
                                    <h4 class="card-title">
                                        SengChul Park!!
                                        <br>
                                        <small class="card-description text-muted">C# Programmer</small>
                                    </h4>
                                    <div class="card-body">
                                        <p class="card-description">
                                          I wanna learn another class of knowledge about Programming! Especially, About Finance and MES!! But I like to communicate each other too!!
                                            <a href="https://www.instagram.com/orchestra365/">Instagram</a> I really appreciate your atttention to me!! Thanks!
                                        </p>
                                    </div>
                                    <div class="card-footer justify-content-center">
                                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("FooterPage.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>