<!DOCTYPE html>
<html lang="en">

@Html.Partial("HeadPage.cshtml")
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<body class="landing-page sidebar-collapse">

    @Html.Partial("NavPage.cshtml")
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/profile_city.jpg')">
        @* ASP 닷넷에서 쓰는 루트 경로를 쓸 수가 없는 것이다. ASP 닷넷이 경로 섹터는 주로 DB와 연동된 부분이다. *@
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Your Story Starts With Me.</h1>
                    <h4>I wanna contribute to profit of your company.  </h4>
                    <h4>And I wanna develop myself as a one of the Programmer.</h4>
                    <h4>Please Contact me freely.</h4>
                    <h4>If you have enough time, Please Go my Youtube!!!</h4>
                    <br>
                    <a href="https://youtu.be/WC4B52DtFt4" target="_blank" class="btn btn-danger btn-raised btn-lg">
                        <i class="fa fa-play"></i> Watch video
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="~/assets/img/examples/Car.png" alt="Thumbnail Image" class="img-raised img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <div class="row">
                    <div class="col mr--auto">
                        @RenderBody()
                    </div>
                </div>

                <div class="row">
                    <div class="features">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-block" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="info">
                                        <div class="icon icon-info">
                                            <i class="material-icons">chat</i>
                                        </div>
                                        <h4 class="info-title">Commnunication Skills</h4>
                                    </div>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-block" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="info">
                                        <div class="icon icon-success">
                                            <i class="material-icons">verified_user</i>
                                        </div>
                                        <h4 class="info-title">Secure Coding</h4>
                                    </div>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-block" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="info">
                                        <div class="icon icon-danger">
                                            <i class="material-icons">fingerprint</i>
                                        </div>
                                        <h4 class="info-title">Verified_Programmer</h4>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        모달 보기 버튼
                    </button>*@

                @*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="myModalLabel">모달 타이틀</h4>
                                </div>
                                <div class="modal-body">
                                    내용
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">확인</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                @*<div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog" href="https://github.com/ochestra365/MiniProject_Desktop/tree/main/WpfSMSApp">
                            Modal content
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Some text in the modal.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="section text-center">
                    <h2 class="title">What did i do?</h2>
                    <div class="team">
                        <div class="row">
                            <div class="col-md-4">
                                @*<a data-toggle="modal" href="https://github.com/ochestra365/MiniProject_Desktop/tree/main/WpfSMSApp" arget="_blank" class="btn btn-primary btn-raised btn-lg"> <i class="fa fa-play"></i> Stock Management System Click!</a>*@
                                <a href="https://github.com/ochestra365/MiniProject_Desktop/tree/main/WpfSMSApp" target="_blank" class="btn btn-primary btn-raised btn-lg">
                                    <i class="fa fa-play"></i> Stock Management System Click!
                                </a>
                                <img src="~/assets/img/examples/ERP.png" alt="Thumbnail Image" class="img-raised img-fluid">
                            </div>
                            <div class="col-md-4">
                                <div class="team-player">
                                    <a href="https://github.com/ochestra365/StudyDesktopApp" target="_blank" class="btn btn-primary btn-raised btn-lg">
                                        <i class="fa fa-play"></i> StudyDesktopApp Git Click!
                                    </a>
                                    <img src="~/assets/img/examples/DeskTopAPp.png" alt="Thumbnail Image" class="img-raised img-fluid">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-player">
                                    <a href="https://github.com/ochestra365/StudyDesktopApp" target="_blank" class="btn btn-primary btn-raised btn-lg">
                                        <i class="fa fa-play"></i> HTMLGit Click!
                                    </a>
                                    <img src="~/assets/img/examples/Responsive Web.png" alt="Thumbnail Image" class="img-raised img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Who am I?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Hard Starter</strong> I have majored in Finance and Accounting. And I have studied Programming since January 2021. But I trained hard myself. I will proof my value in your company.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        My Vision
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Contribute. to your benefit.</strong> What should be considered most is sales of your oranization. I will work hard for you by using my all Intelligece resource. so I will grow with your company.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        The Footfrint I walk
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Component of Capital and Programming.</strong>Mordern society needs the employees Common sense of capital and Data Science so that make a decision of the future. If your company want to grow by minimizing risk and maximizing benefit, Hire me. I can provide profit tatical advice to you.
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("FooterPage.cshtml")
        @await RenderSectionAsync("Scripts", required: false)
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>
