<!DOCTYPE html>
<html lang="en">

@Html.Partial("HeadPage.cshtml")
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<body class="landing-page sidebar-collapse">

    @Html.Partial("NavPage.cshtml")
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/profile_city.jpg')">
        @* ASP 닷넷에서 쓰는 루트 경로를 쓸 수가 없는 것이다. ASP 닷넷이 경로 섹터는 주로 DB와 연동된 부분이다. *@
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Your Story Starts With Me.</h1>
                    <h4>I wanna contribute to profit of your company.  </h4>
                    <h4>And I wanna develop myself as a one of the Programmer.</h4>
                    <h4>Please Contact me freely.</h4>
                    <h4>If you have enough time, Please Go my Youtube!!!</h4>
                    <br>
                    <a href="https://youtu.be/WC4B52DtFt4" target="_blank" class="btn btn-danger btn-raised btn-lg">
                        <i class="fa fa-play"></i> Watch video
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="~/assets/img/examples/Car.png" alt="Thumbnail Image" class="img-raised img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <div class="row">
                    <div class="col mr--auto">
                        @RenderBody()
                    </div>
                </div>

                <div class="row">
                    <div class="features">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-block" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="info">
                                        <div class="icon icon-info">
                                            <i class="material-icons">chat</i>
                                        </div>
                                        <h4 class="info-title">Commnunication Skills</h4>
                                    </div>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-block" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="info">
                                        <div class="icon icon-success">
                                            <i class="material-icons">verified_user</i>
                                        </div>
                                        <h4 class="info-title">Secure Coding</h4>
                                    </div>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-block" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="info">
                                        <div class="icon icon-danger">
                                            <i class="material-icons">fingerprint</i>
                                        </div>
                                        <h4 class="info-title">Verified_Programmer</h4>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    모달 보기 버튼
                </button>*@

                @*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myModalLabel">모달 타이틀</h4>
                            </div>
                            <div class="modal-body">
                                내용
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">확인</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </div>*@
                @*<div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog" href="https://github.com/ochestra365/MiniProject_Desktop/tree/main/WpfSMSApp">
                        Modal content
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="section text-center">
                    <h2 class="title">What did i do?</h2>
                    <div class="team">
                        <div class="row">
                            <div class="col-md-4">
                                @*<a data-toggle="modal" href="https://github.com/ochestra365/MiniProject_Desktop/tree/main/WpfSMSApp" arget="_blank" class="btn btn-primary btn-raised btn-lg"> <i class="fa fa-play"></i> Stock Management System Click!</a>*@
                                <a href="https://github.com/ochestra365/MiniProject_Desktop/tree/main/WpfSMSApp" target="_blank" class="btn btn-primary btn-raised btn-lg">
                                    <i class="fa fa-play"></i> Stock Management System Click!
                                </a>
                                <img src="~/assets/img/examples/ERP.png" alt="Thumbnail Image" class="img-raised img-fluid">
                            </div>
                            <div class="col-md-4">
                                <div class="team-player">
                                    <a href="https://github.com/ochestra365/StudyDesktopApp" target="_blank" class="btn btn-primary btn-raised btn-lg">
                                        <i class="fa fa-play"></i> StudyDesktopApp Git Click!
                                    </a>
                                    <img src="~/assets/img/examples/DeskTopAPp.png" alt="Thumbnail Image" class="img-raised img-fluid">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-player">
                                    <a href="https://github.com/ochestra365/StudyDesktopApp" target="_blank" class="btn btn-primary btn-raised btn-lg">
                                        <i class="fa fa-play"></i> HTMLGit Click!
                                    </a>
                                    <img src="~/assets/img/examples/Responsive Web.png" alt="Thumbnail Image" class="img-raised img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Who am I?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                       My Vision
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        The Footfrint I walk
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("FooterPage.cshtml")
        @await RenderSectionAsync("Scripts", required: false)
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>
