@model MyPortpolioWeb.Models.Contacts

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-lg col-md ml-auto mr-auto">
    <div class="card card-login">
        <div class="card-header card-header-primary text-center">
            <h4 class="card-title">Contact</h4>
            <div class="social-line">
                @* a태그에 이미지를 넣을 때는 크기를 설정해줘야 한다. 왜냐하면 얘는 크기가 NULL 값이기 때문에 정보를 확인할 수 없기 때문이다. *@
                <a href="https://github.com/ochestra365" class="btn btn-just-icon btn-link">
                    <img src="~/assets/img/examples/Git hub 2.png" width="25px" height="25px"/>
                </a>
                <a href="https://www.instagram.com/orchestra365/" class="btn btn-just-icon btn-link">
                    <img src="~/assets/img/examples/insta.png" width="25px" height="25px" />
                </a>
                <a href="https://drive.google.com/drive/my-drive" class="btn btn-just-icon btn-link">
                    <img src="~/assets/img/examples/google.png" width="25px" height="25px" />
                </a>
            </div>
        </div>
        <div class="section section-contacts">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    @*<h2 class="text-center title">Contact</h2>*@
                    <h4 class="text-center description">This is section for Someone who has a attetion to employ me.</h4>
                    <form class="contact-form" asp-action="Index">
                        <p>
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Phone Number</a>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Email</button>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Closing Both</button>
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="collapse multi-collapse" id="multiCollapseExample1">
                                    <div class="card card-body">
                                        010.2874.1479<br/>
                                        Korea
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="collapse multi-collapse" id="multiCollapseExample2">
                                    <div class="card card-body">
                                        ochestra365@naver.com
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" asp-for="Name">Name</label>
                                    <input type="text" class="form-control" asp-for="Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" asp-for="Email">Email</label>
                                    <input type="email" class="form-control" asp-for="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleMessage" class="bmd-label-floating" asp-for="Contets">Contents</label>
                            <textarea type="text" class="form-control" rows="4" id="exampleMessage" asp-for="Contets"></textarea>
                            <span asp-validation-for="Contets" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-4 ml-auto mr-auto text-center">
                                <button type="submit" class="btn btn-primary btn-raised">
                                    Submit
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @if (ViewBag.Message != null)
                                {
                                    <span>@ViewBag.Message</span>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>