@model MyPortpolioWeb.Models.Contacts

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*<div class="col-lg col-md ml-auto mr-auto">
    <div class="card card-login">
        <div class="form" method="" action="Index">
            <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Contact</h4>
                <div class="social-line">
<a href="#pablo" class="btn btn-just-icon btn-link">
        <i class="fa fa-facebook-square"></i>
    </a>
    <a href="#pablo" class="btn btn-just-icon btn-link">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="#pablo" class="btn btn-just-icon btn-link">
        <i class="fa fa-google-plus"></i>
    </a>
</div>
            </div>
            <div class="section section-contact">
               <div class="col-md-8 ml-auto mr-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">face</i>
                            </span>
                        </div>
                        <input type="text" class="form-control" asp-for="Name" placeholder="Your Name">
                        <input type="text" class="form-control" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">mail</i>
                            </span>
                        </div>
                        <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                        <input type="text" class="form-control" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="emapleMessage" class="bmd-label-floating">내용</label>
                        <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
                    </div>
                   <div class="row">
                       <div class="col-md-4 ml-auto mr-auoto text-center">
                           <button class="btn btn-primary btn-raised">
                               Send
                           </button>
                       </div>
                   </div>
                    <div class="row">
                            <div class="col">
                                @if(ViewBag.Message ! == null)
                        {
                            <span>@ViewBag.Message</span>
                        }
                            </div>
                        </div>
                </div>
        </div>
    </div>
</div>*@

<div class="col-lg col-md ml-auto mr-auto">
    <div class="card card-login">
        <div class="card-header card-header-primary text-center">
            <h4 class="card-title">Contact</h4>
            <div class="social-line">
                @*<a href="#pablo" class="btn btn-just-icon btn-link">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link">
                        <i class="fa fa-google-plus"></i>
                    </a>*@
            </div>
        </div>
        <div class="section section-contacts">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    @*<h2 class="text-center title">Contact</h2>*@
                    <h4 class="text-center description">This is section for Someone who has a attetion to employ me.</h4>
                    <form class="contact-form" asp-action="Index">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" asp-for="Name">Name</label>
                                    <input type="text" class="form-control" asp-for="Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" asp-for="Email">Email</label>
                                    <input type="email" class="form-control" asp-for="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleMessage" class="bmd-label-floating" asp-for="Contets">Contents</label>
                            <textarea type="text" class="form-control" rows="4" id="exampleMessage" asp-for="Contets"></textarea>
                            <span asp-validation-for="Contets" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-4 ml-auto mr-auto text-center">
                                <button type="submit" class="btn btn-primary btn-raised">
                                    Submit
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @if (ViewBag.Message != null)
                                {
                                    <span>@ViewBag.Message</span>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>